@model IEnumerable<TeamProjectJoole.Models.ProductInfoVM>

@{
    ViewBag.Title = "Products";
}

<h2 style="padding:10px; color: white;">Products</h2>
<div class="col col-lg-2" style="text-align:center;padding:20px;">
    @Html.ActionLink("Feedback", "Feedback")
</div>

<style>
    a.pclass {
        color: #ff0000
    }

    a.p-class:active {
        color: #0e86f8
    }

    a.p-class:link {
        color: black
    }

    a.p-class:hover {
        color: black
    }

    a.p-class:visited {
        color: black
    }
</style>

<div class="container-fluid" style="background-color:white">
    <div class="col-md-12">
        <div class="col col-lg-2" style="text-align:center;padding:20px;">
            @Html.ActionLink("Add Product", "Create")
        </div>
        @*Search Display*@
        <div class="col-md-9" style="text-align:center;margin-top:20px;">
            <img width="150" src="" style="float:left" />
            <div style="display:inline;width:400px;margin-left:20px">
                <form style="color:black;font:bold;">
                    <b>Search for products:</b>
                    <input type="text" name="searchString" />
                    <input class="btn btn-primary" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <form style=" padding:5px">
            @foreach (var item in Model)
            {
                <div id="@Html.DisplayFor(Model => item.ProductID)" style="float:left;margin-left:10px;margin-top:10px;border: 3px solid gray; text-align: center; display: inline-block; width: 200px; height: 400px;" onclick="myFunction(this)">
                    <img src="" style="width:80px;height:60px">
                    <br />
                    <b> @Html.ActionLink("" + @Html.DisplayFor(Model => item.Product_Name) + "", "", "", new { id = @Html.DisplayFor(Model => item.ProductID) }, new { @class = "p-class" })</b>
                    <br />

                    <input type="checkbox" name="compare" value=@Html.DisplayFor(Model => item.ProductID) /> <b>Compare</b>
                    <input class="btn btn-primary" type="submit" value="Add to">
                </div>
            }
        </form>
    </div>
</div>
